.vscode
.venv
.DS_Store
*.pyc
*/__pycache__
*.xlsx
!simulated_data/dyad_recording/*.xlsx
!simulated_data/dyads_simulated/*.xlsx
/papers
/data

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints

# Virtual environments
*/.venv
